<h2><%= t("pages.#{@page.persisted? ? 'edit' : 'new'}.title") %></h2>
<%= simple_form_for [:admin, @page], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= picture_inserter '#page_body-editor' %>
  <%= f.input :body do %>
    <%= f.text_area :body, :style => 'display: none;' %>
    <div id="page_body-editor" class="ace-editor" data-mode="html"></div>
  <% end %>
  <%= f.input :style do %>
    <%= f.text_area :style, :style => 'display: none;' %>
    <div id="page_style-editor" class="ace-editor" data-mode="css"></div>
  <% end %>
  <%= f.input :meta_description, :input_html => { :rows => 2 } %>
  <%= f.input :meta_keywords, :input_html => { :rows => 2 } %>
  <%= f.input :order %>
  <%= f.input :show_in_menu %>
  <%= f.input :visible %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= link_to t('pages.links.back_to_index'), admin_pages_path, :class => 'btn btn-default' %>
      <%= f.button :submit, 'Submit', :class => 'btn btn-primary' %>
      <% unless @page.persisted? %>
        <label for="redirect_to_new">
          <%= check_box_tag 'redirect_to_new', 1, true %> <%= t('helpers.submit.page.redirect_to_new') %>
        </label>
      <% end %>
    </div>
  </div>
<% end %>
