= bootstrap_form_for [:admin, @page], builder: AceBuilder, layout: :horizontal do |f|
  = f.text_field :title
  = f.picture_inserter :body
  = f.ace_editor :body, mode: 'rhtml'
  = f.ace_editor :style, mode: 'css'
  = f.text_area :meta_description, label: 'Meta Description', rows: '2'
  = f.text_area :meta_keywords, label: 'Meta Keywords', rows: '2'
  = f.number_field :order
  = f.form_group :show_in_menu do
    = f.check_box :show_in_menu, label: 'Show in Menu'
  = f.form_group :visible do
    = f.check_box :visible
  = f.form_group do
    = f.primary
    = link_to 'Cancel', admin_pages_path, class: 'btn btn-default'
