<%= form_tag edit_multiple_admin_pages_path, :id => "pages-index-form", :method => :get do %>
<table>
  <thead>
    <tr>
      <th scope="col"><input class="check-all" type="checkbox"></th>
      <th scope="col"><%= sortable "id", "ID" %></th>
      <th scope="col"><%= sortable "title" %></th>
      <th scope="col">Body</th>
      <th scope="col">Style</th>
      <th scope="col"><%= sortable "parent_id", "Parent Page" %></th>
      <th scope="col"><%= sortable "status" %></th>
      <th scope="col"><%= sortable "private" %></th>
      <th scope="col"><%= sortable "created_at" %></th>
      <th scope="col"><%= sortable "updated_at" %></th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% even_row = false %>
    <% @pages.each do |page| %>
      <tr class="<% if even_row %>even<% else %>odd<% end %><% even_row = !even_row %>">
        <td><%= check_box_tag "pages_ids[]", page.id %></td>
        <td><%= link_to page.id, admin_page_path(page) %></td>
        <td><%= link_to page.title, admin_page_path(page) %></td>
        <td><%= truncate(page.body) %></td>
        <td><%= truncate(page.style) %></td>
        <td><% if page.parent %><%= link_to page.parent.title, admin_page_path(page.parent) %><% else %>-<% end %></td>
        <td>
          <%= case page.status
            when 0
              "Draft"
            when 1
              "Published"
            when 2
              "Awaiting Review"
            else
              "Unknown"
            end
          %>
        </td>
        <td><% if page.private %>Yes<% else %>No<% end %></td>
        <td><%= page.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= page.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
          <%= link_to image_tag(image_path("icons/16x16/edit.png"), :title => "Edit", :alt => "Edit"), edit_admin_page_path(page) %>
          <%= link_to image_tag(image_path("icons/16x16/remove.png"), :title => "Delete", :alt => "Delete"), admin_page_path(page), :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Edit Selected", :class => "button", :disabled => true, :id => "edit-selected-button" %>
<% end %>
<%= paginate @pages %>
