<div id="pages" class="span10 offset1">
  <h2>
    <%= t("pages.index.title") %>
    <small><%= @pages.total_count %></small>
  </h2>
  <div class="subnav">
    <ul class="nav nav-pills">
      <% if can? :create, User, current_user %><li><%= link_to t('pages.new.title'), new_admin_page_path %></li><% end %>
    </ul>
    <%= search_form_for @search, :url => admin_pages_path, :html => { :method => :get, :class => 'form-search hidden-phone' } do |f| %>
      <fieldset>
        <%= f.text_field :title_cont, :placeholder => t('activerecord.attributes.page.title') %>
        <%= hidden_field_tag 'page', params[:page] %>
        <%= f.button t('search'), :type => :submit %>
        <%= link_to t('clear_search'), admin_pages_path %>
      </fieldset>
    <% end %>
  </div>
  <table class="table table-striped">
    <thead>
      <th scope="col"><%= sort_link @search, :title %></th>
      <th scope="col"><%= sort_link @search, :created_at %></th>
      <th scope="col"><%= sort_link @search, :updated_at %></th>
      <th class="icon">&nbsp;</th>
      <th class="icon">&nbsp;</th>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= link_to truncate(page.title, :length => 64), admin_page_url(page) %></td>
          <td><%= page.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td><%= page.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td class="icon"><%= icon_edit_link(edit_admin_page_path(page)) %></td>
          <td class="icon"><%= icon_delete_link(admin_page_path(page)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
