%h2= t('.header.title')
.well
  = search_form_for @search, url: admin_pages_path, builder: BootstrapForm::FormBuilder, html: { class: 'form-inline', method: :get } do |f|
    = f.text_field :title_cont, placeholder: Page.human_attribute_name(:title), skip_label: true
    = f.text_field :body_or_style_cont, placeholder: t('.search.body_or_style'), skip_label: true
    = f.button t('admin.admin.search.search_html'), class: 'btn btn-primary'
    = link_to t('admin.admin.search.clear_search_html'), admin_posts_path, class: 'btn btn-default', rel: 'tooltip', title: t('admin.admin.search.clear_search')
- if can? :create, Page
  .clearfix
    = link_to t('.links.new'), new_admin_page_path, class: 'btn btn-primary pull-right'
- if @pages.present?
  .table-responsive
    %table.table.table-striped.table-hover
      %thead
        %tr.row
          %th.col-xs-6= sort_link @search, :title
          %th.col-xs-1= sort_link @search, :order
          %th.col-xs-1= sort_link @search, :visible
          %th.col-xs-2= sort_link @search, :created_at
          %th.col-xs-1
          %th.col-xs-1
      %tbody
        - @pages.each do |page|
          - present page do |page_presenter|
            %tr{ class: "row page#{' inactive' unless page_presenter.published?}" }
              %td.col-xs-6.title
                = link_to page_presenter.title, admin_page_path(page)
                = page_presenter.share_link target: '_blank'
              %td.col-xs-1.order= page_presenter.order
              %td.col-xs-1.visibe= page_presenter.visible
              %td.col-xs-2.created-at= page_presenter.created_at
              %td.col-xs-1.edit
                - if can? :edit, page
                  = icon_edit_link edit_admin_page_path(page)
              %td.col-xs-1.delete
                - if can? :destroy, page
                  = icon_delete_link admin_page_path(page)
  = paginate @pages
- else
  %p.lead= t('.no_pages_html')
= render 'shared/admin/versions/deleted', object_class: Page, deleted_versions: @deleted_pages
