<div id="pages" class="admin-content">
  <h2>
    <%= t('activerecord.models.page').pluralize %>
  </h2>
  <div class="well">
    <%= search_form_for @search, :url => admin_pages_path, :html => { :method => :get, :class => 'form-inline' } do |f| %>
      <div class="form-group">
        <%= f.text_field :title_cont, :class => 'form-control', :placeholder => t('activerecord.attributes.page.title') %>
      </div>
      <div class="form-group">
        <%= f.text_field :body_or_style_cont, :class => 'form-control', :placeholder => "#{t('activerecord.attributes.page.body')} #{t('or')} #{t('activerecord.attributes.page.style')}" %>
      </div>
      <%= f.button '<span class="glyphicon glyphicon-search"></span> Search'.html_safe, :type => :submit, :class => 'btn btn-primary' %>
      <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, admin_pages_path, :class => 'btn btn-default', :rel => 'tooltip', :title => t('clear_search') %>
    <% end %>
  </div>
  <% if can? :create, Page %>
    <div class="clearfix">
      <%= link_to t('pages.new.title'), new_admin_page_path, :class => 'btn btn-primary pull-right' %>
    </div>
  <% end %>
  <% if @pages.any? %>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><%= sort_link @search, :title %></th>
            <th><%= sort_link @search, :slug %></th>
            <th><%= sort_link @search, :created_at %></th>
            <% if can? :edit, Page %><th class="icon">&nbsp;</th><% end %>
            <% if can? :destroy, Page %><th class="icon">&nbsp;</th><% end %>
          </tr>
        </thead>
        <tbody>
          <% @pages.each do |page| %>
            <tr>
              <td><%= link_to truncate(page.title, :length => 32), admin_page_path(page) %></td>
              <td><%= truncate(page.slug, :length => 32) %> <%= link_to '<span class="glyphicon glyphicon-share"></span>'.html_safe, "/#{page.slug}", :target => '_blank' %></td>
              <td><%= page.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
              <% if can? :edit, Page %><td class="icon"><%= icon_edit_link edit_admin_page_path(page) %></td><% end %>
              <% if can? :destroy, Page %><td class="icon"><%= icon_delete_link admin_page_path(page) %></td><% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @pages %>
  <% else %>
    <p class="lead"><%= t('messages.pages.none') %></p>
  <% end %>
</div>
