%h2= t('.header.title')
= bootstrap_form_for @account, url: admin_account_path, as: :account, layout: :horizontal do |f|
  = f.text_field :first_name
  = f.text_field :last_name
  = f.email_field :email
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.form_group do
    = f.primary t('.form.update')
    = link_to t('cancel'), admin_account_path, class: 'btn btn-default'
