- present @account do |user_presenter|
  %h2 My Account
  .admin-actions
    = link_to 'Edit', edit_admin_account_path, class: 'btn btn-primary'
  %h3 Contact Information
  .user.attributes
    .row.attribute
      %strong.col-xs-12.col-sm-2.attribute-name.first-name First Name
      .col-xs-12.col-sm-10.attribute-value.first-name= user_presenter.first_name
    .row.attribute
      %strong.col-xs-12.col-sm-2.attribute-name Last Name
      .col-xs-12.col-sm-10.attribute-value.last-name= user_presenter.last_name
  %h3 Account Information
  .user.attributes
    .row.attribute
      %strong.col-xs-12.col-sm-2.attribute-name.email Email
      .col-xs-12.col-sm-10.attribute-value.email
        = user_presenter.email
        = user_presenter.email_link
    .row.attribute
      %strong.col-xs-12.col-sm-2.attribute-name.role Role
      .col-xs-12.col-sm-10.attribute-value.role= user_presenter.role
    .row.attribute
      %strong.col-xs-12.col-sm-2.attribute-name.created-at Created At
      .col-xs-12.col-sm-10.attribute-value.created-at= user_presenter.created_at
    .row.attribute
      %strong.col-xs-12.col-sm-2.attribute-name.created-at Updated At
      .col-xs-12.col-sm-10.attribute-value.updated-at= user_presenter.updated_at
  %h3 Login Activity
  .user.attributes
    .row.attribute
      %strong.col-xs-12.col-sm-2.attribute-name.sign-in-count Sign In Count
      .col-xs-12.col-sm-10.attribute-value.sign-in-count= user_presenter.sign_in_count
    .row.attribute
      %strong.col-xs-12.col-sm-2.attribute-name Current Sign In At
      .col-xs-12.col-sm-10.attribute-value= user_presenter.current_sign_in_at
    .row.attribute
      %strong.col-xs-12.col-sm-2.attribute-name Last Sign In At
      .col-xs-12.col-sm-10.attribute-value= user_presenter.last_sign_in_at
    .row.attribute
      %strong.col-xs-12.col-sm-2.attribute-name Current Sign In IP
      .col-xs-12.col-sm-10.attribute-value= user_presenter.current_sign_in_ip
    .row.attribute
      %strong.col-xs-12.col-sm-2.attribute-name Last Sign In IP
      .col-xs-12.col-sm-10.attribute-value= user_presenter.last_sign_in_ip
