<div id="show-account" class="admin-content">
  <h2><%= t('accounts.show.title') %> <small><%= @account.email %></small></h2>
  <h3><%= t('users.sections.contact_information') %></h3>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <tbody>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.first_name') %></th>
          <td class="col-xs-8 col-sm-10"><%= @account.first_name %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.last_name') %></th>
          <td class="col-xs-8 col-sm-10"><%= @account.last_name %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h3><%= t('users.sections.account_information') %></h3>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <tbody>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.email') %></th>
          <td class="col-xs-8 col-sm-10"><%= @account.email %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.created_at') %></th>
          <td class="col-xs-8 col-sm-10"><%= @account.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.updated_at') %></th>
          <td class="col-xs-8 col-sm-10"><%= @account.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h3><%= t('users.sections.login_activity') %></h3>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <tbody>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.sign_in_count') %></th>
          <td class="col-xs-8 col-sm-10"><%= @account.sign_in_count %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.current_sign_in_at') %></th>
          <td class="col-xs-8 col-sm-10"><%= @account.current_sign_in_at.blank? ? t('na') : @account.current_sign_in_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.last_sign_in_at') %></th>
          <td class="col-xs-8 col-sm-10"><%= @account.last_sign_in_at.blank? ? t('na') : @account.last_sign_in_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.current_sign_in_ip') %></th>
          <td class="col-xs-8 col-sm-10"><%= @account.current_sign_in_ip.blank? ? t('na') : @account.current_sign_in_ip %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.last_sign_in_ip') %></th>
          <td class="col-xs-8 col-sm-10"><%= @account.last_sign_in_ip.blank? ? t('na') : @account.last_sign_in_ip %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-actions">
    <%= link_to t('back'), admin_root_path, :class => 'btn' %>
    <%= link_to t('accounts.edit.title'), edit_admin_account_path, :class => 'btn btn-primary' %>
  </div>
</div>
