<div id="page-info" class="in">
  <h2><%= legend %></h2>
</div>
<div class="line"></div>
<div class="in">
  <%= form_for [:admin, @picture], :html => { :multipart => true } do |f| %>
    <fieldset>
      <div>
        <%= f.label :title, "Title:" %><br />
        <%= f.text_field :title, :class => "small" %>
      </div>
      <div>
        <%= f.label :alt_text, "Alt Text:" %><br />
        <%= f.text_field :alt_text, :class => "small" %>
      </div>
      <div>
        <%= f.label :caption, "Caption:" %><br />
        <%= f.text_field :caption, :class => "small" %>
      </div>
      <div>
        <% if @picture.new_record? %>
          <%= f.file_field :image, :multiple => true, :accept => "image/jpeg,image/gif,image/png,image/tiff,image/svg+xml" %>
        <% else %>
          <%= f.file_field :image, :accept => "image/jpeg,image/gif,image/png,image/tiff,image/svg+xml" %>
        <% end %>
      </div>
      <div>
        <%= submit_tag "Submit" %>
      </div>
    </fieldset>
  <% end %>
</div>
