<tr>
  <td style="text-align: center;"><%= link_to image_tag(@picture.image.url(:thumb), :style => "max-height: 50px;"), admin_picture_path(@picture) %></td>
  <td class="hidden-phone"><%= link_to truncate(@picture.title, :length => 64), admin_picture_path(@picture) %></td>
  <td class="hidden-phone"><%= @picture.created_at %></td>
  <td class="hidden-phone"><%= @picture.updated_at %></td>
  <% if can? :edit, Picture, current_user %><td class="icon"><%= icon_edit_link edit_admin_picture_path(@picture) %></td><% end %>
  <% if can? :destroy, Picture, current_user %><td class="icon"><%= icon_delete_link admin_picture_path(@picture) %></td><% end %>
</tr>
