<div id="page-info" class="in">
  <h2>Pictures</h2>
  <p>This is a list of all the site's uploaded pictures. From here you can view, modify, or delete any picture on the site.</p>
</div>
<div class="line"></div>
<div id="page-actions" class="in">
  <%= link_to "Upload New Picture", new_admin_picture_path %>
  <%= form_tag admin_pictures_path, :method => :get, :id => "index-search", :class => "object-search" do %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= hidden_field_tag :order, params[:order]%>
    <div>
      <%= text_field_tag :search, params[:search] %><%= submit_tag "Search", :name => nil %>
    </div>
  <% end %>
</div>
<div id="pictures" class="in">
  <%= render "pictures" %>
</div>
