- present @picture do |picture_presenter|
  %h2= picture_presenter.title
  .admin-actions
    = link_to 'Back to Index', admin_pictures_path, class: 'btn btn-default'
    - if can? :edit, @picture
      = link_to 'Edit', edit_admin_picture_path(@picture), class: 'btn btn-primary'
    - if can? :destroy, @picture
      = link_to 'Delete', admin_picture_path(@picture), method: 'delete', class: 'btn btn-danger', data: { confirm: 'Are you sure?' }
  %h3 Picture Attributes
  .picture.attributes
    .row.attributes
      .row.attribute
        %strong.col-xs-12.col-sm-2.attribute-name.preview Preview
        .col-xs-12.col-sm-10.attribute-value.preview= link_to picture_presenter.medium_image, @picture.image.url, target: '_blank'
      .row.attribute
        %strong.col-xs-12.col-sm-2.attribute-name.title Title
        .col-xs-12.col-sm-10.attribute-value.title= picture_presenter.title
      .row.attribute
        %strong.col-xs-12.col-sm-2.attribute-name.alt-text Alt Text
        .col-xs-12.col-sm-10.attribute-value.alt-text= picture_presenter.alt_text
      .row.attribute
        %strong.col-xs-12.col-sm-2.attribute-name.caption Caption
        .col-xs-12.col-sm-10.attribute-value.caption= picture_presenter.caption
      .row.attribute
        %strong.col-xs-12.col-sm-2.attribute-name.image-file-name File Name
        .col-xs-12.col-sm-10.attribute-value.image-file-name= picture_presenter.image_file_name
      .row.attribute
        %strong.col-xs-12.col-sm-2.attribute-name.image-content-type Content Type
        .col-xs-12.col-sm-10.attribute-value.image-content-type= picture_presenter.image_content_type
      .row.attribute
        %strong.col-xs-12.col-sm-2.attribute-name.image-file-size File Size
        .col-xs-12.col-sm-10.attribute-value.image-file-size= picture_presenter.image_file_size
      .row.attribute
        %strong.col-xs-12.col-sm-2.attribute-name.image-fingerprint Fingerprint
        .col-xs-12.col-sm-10.attribute-value.image-fingerprint= picture_presenter.image_fingerprint
      .row.attribute
        %strong.col-xs-12.col-sm-2.attribute-name.image-orginal-width Original Width
        .col-xs-12.col-sm-10.attribute-value.image-orginal-width= picture_presenter.image_original_width
      .row.attribute
        %strong.col-xs-12.col-sm-2.attribute-name.image-original-height Original Height
        .col-xs-12.col-sm-10.attribute-value.image-original-height= picture_presenter.image_original_height
      .row.attribute
        %strong.col-xs-12.col-sm-2.attribute-name.image-medium-width Medium Width
        .col-xs-12.col-sm-10.attribute-value.image-medium-width= picture_presenter.image_medium_width
      .row.attribute
        %strong.col-xs-12.col-sm-2.attribute-name.image-medium-height Medium Height
        .col-xs-12.col-sm-10.attribute-value.image-medium-heigh= picture_presenter.image_medium_height
      .row.attribute
        %strong.col-xs-12.col-sm-2.attribute-name.image-thumb-width Thumbnail Width
        .col-xs-12.col-sm-10.attribute-value.image-thumb-width= picture_presenter.image_thumb_width
      .row.attribute
        %strong.col-xs-12.col-sm-2.attribute-name.image-thumb-height Thumbnail Height
        .col-xs-12.col-sm-10.attribute-value.image-thumb-height= picture_presenter.image_thumb_height
      .row.attribute
        %strong.col-xs-12.col-sm-2.attribute-name.created-at Created At
        .col-xs-12.col-sm-10.attribute-value.created-at= picture_presenter.created_at
      .row.attribute
        %strong.col-xs-12.col-sm-2.attribute-name.updated-at Updated At
        .col-xs-12.col-sm-10.attribute-value.updated-at= picture_presenter.updated_at
