<div id="picture-<%= @picture.id %>" class="admin-content">
  <h2><%= t('pictures.show.title') %> <small><%= truncate(@picture.title, :length => 48) %></small></h2>
  <div class="clearfix">
    <%= link_to t('pictures.links.back_to_index'), admin_pictures_path, :class => 'btn btn-default' %>
    <% if can? :edit, Picture %><%= link_to t('pictures.edit.title'), edit_admin_picture_path(@picture), :class => 'btn btn-primary' %><% end %>
    <% if can? :destroy, Picture %><%= link_to t('pictures.delete.title'), admin_picture_path(@picture), :method => 'delete', :class => 'btn btn-danger', :data => { :confirm => t('confirm_delete') } %><% end %>
  </div>
  <h3><%= t('pictures.sections.information') %></h3>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <tbody>
        <tr>
          <th class="col-xs-4 col-sm-2">Preview</th>
          <td class="col-xs-8 col-sm-10"><%= link_to image_tag(@picture.image.url(:medium), :alt => @picture.alt_text), @picture.image.url, :target => '_blank' %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.picture.title') %></th>
          <td class="col-xs-8 col-sm-10"><%= @picture.title %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.picture.alt_text') %></th>
          <td class="col-xs-8 col-sm-10"><%= @picture.alt_text %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.picture.caption') %></th>
          <td class="col-xs-8 col-sm-10"><%= @picture.caption %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.picture.image_file_name') %></th>
          <td class="col-xs-8 col-sm-10"><%= @picture.image_file_name %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.picture.image_content_type') %></th>
          <td class="col-xs-8 col-sm-10"><%= @picture.image_content_type %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.picture.image_file_size') %></th>
          <td class="col-xs-8 col-sm-10"><%= @picture.image_file_size %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.picture.image_fingerprint') %></th>
          <td class="col-xs-8 col-sm-10"><%= @picture.image_fingerprint %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.picture.image_original_width') %></th>
          <td class="col-xs-8 col-sm-10"><%= @picture.image_original_width %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.picture.image_original_height') %></th>
          <td class="col-xs-8 col-sm-10"><%= @picture.image_original_height %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.picture.image_medium_width') %></th>
          <td class="col-xs-8 col-sm-10"><%= @picture.image_medium_width %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.picture.image_medium_height') %></th>
          <td class="col-xs-8 col-sm-10"><%= @picture.image_medium_height %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.picture.image_thumb_width') %></th>
          <td class="col-xs-8 col-sm-10"><%= @picture.image_thumb_width %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.picture.image_thumb_height') %></th>
          <td class="col-xs-8 col-sm-10"><%= @picture.image_thumb_height %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.picture.created_at') %></th>
          <td class="col-xs-8 col-sm-10"><%= @picture.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.picture.updated_at') %></th>
          <td class="col-xs-8 col-sm-10"><%= @picture.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix">
    <%= link_to t('pictures.links.back_to_index'), admin_pictures_path, :class => 'btn btn-default' %>
    <% if can? :edit, Picture %><%= link_to t('pictures.edit.title'), edit_admin_picture_path(@picture), :class => 'btn btn-primary' %><% end %>
    <% if can? :destroy, Picture %><%= link_to t('pictures.delete.title'), admin_picture_path(@picture), :method => 'delete', :class => 'btn btn-danger', :data => { :confirm => t('confirm_delete') } %><% end %>
  </div>
</div>
