<div id="reset-password">
  <h1><%= t('devise.passwords.update_your_password') %></h1>
  <%= simple_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' } do |f| %>
    <fieldset>
      <%= f.input :reset_password_token, :as => :hidden %>
      <%= f.full_error :reset_password_token %>
      <%= f.input :password, :label => t('devise.passwords.new_password'), :required => true %>
      <%= f.input :password_confirmation, :label => t('devise.passwords.confirm_password'), :required => true %>
    </fieldset>
    <div class="form-actions">
      <%= f.button :submit, t('devise.passwords.edit_button') %>
    </div>
  <% end %>
  <%= render 'devise/shared/links' %>
</div>
