- flashes.each do |f|
  - if f[:name] == 'debug'
    .alert.alert-info.alert-block.alert-dismissable
      %button.close{ "aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} &times;
      %h4 Debug Info
      %br/
      %pre= f[:message]
  - else
    %div{ class: "alert alert-#{f[:class_name]} alert-dismissable" }
      %button.close{ "aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} &times;
      %strong
        = "#{f[:name].capitalize}!"
      = f[:message]
