- if @page.title.present?
  - content_for :page_title do
    = @page.title
- if @page.meta_description.present?
  - content_for :meta_description do
    = @page.meta_desription
- if @page.meta_keywords.present?
  - content_for :meta_keywords do
    = @page.meta_keywords
- present @page do |page_presenter|
  .page{ id: "page-#{page_presenter.slug}" }
    %header.page-header
      %h1.page-title
        = page_presenter.title
    .page-body
      = page_presenter.style_tag
      = page_presenter.body_tag
