<div id="page-info" class="in">
  <h2><%= legend %></h2>
</div>
<div class="line"></div>
<div class="in">
  <%= form_for [:admin, @post] do |f| %>
    <fieldset>
      <div>
        <%= f.label :title, "Title:" %><br />
        <%= f.text_field :title, :class => "small" %>
      </div>
      <div>
        <%= f.label :body, "Body:" %><br />
        <%= f.text_area :body, :class => "large" %>
      </div>
      <div>
        <button id="picture-selector-button" name="picture-selector-button">Select Picture</button>
      </div>
      <div>
        <%= f.label :style, "Style:" %><br />
        <%= f.text_area :style, :class => "large" %>
      </div>
      <div>
        <%= f.label :meta_description, "Meta Description:" %><br />
        <%= f.text_area :meta_description, :class => "large" %>
      </div>
      <div>
        <%= f.label :meta_keywords, "Meta Keywords:" %><br />
        <%= f.text_area :meta_keywords, :class => "large" %>
      </div>
      <div>
        <%= f.label :status, "Status:" %><br />
        <%= f.select :status, [['Published', 1], ['Draft', 0], ['Awaiting Review', 2]], {}, :class => "small" %>
      </div>
      <div>
        <label for="page_private"><%= f.check_box :private, {}, 1, 0 %> Post is private.</label>
      </div>
      <div>
        <%= submit_tag "Submit" %>
      </div>
    </fieldset>
  <% end %>
</div>
