= bootstrap_form_for [:admin, @post], builder: AceBuilder, layout: :horizontal do |f|
  = f.text_field :title
  = f.picture_inserter :body
  = f.ace_editor :body, mode: 'rhtml'
  = f.ace_editor :style, mode: 'css'
  = f.text_area :meta_description, label: 'Meta Description', rows: '2'
  = f.text_area :meta_keywords, label: 'Meta Keywords', rows: '2'
  = f.text_field :tag_list, label: 'Tags', class: 'tokenfield'
  = f.form_group :visible do
    = f.check_box :visible
  = f.form_group :sticky do
    = f.check_box :sticky
  = f.text_field :tumblr_id, label: 'Tumblr ID'
  = f.form_group do
    = f.primary
    = link_to 'Cancel', admin_posts_path, class: 'btn btn-default'
