<div class="block">
  <div class="block_head">
    <h2><%= t("posts.#{@post.persisted? ? 'edit' : 'new'}.title") %></h2>
  </div>
  <div class="block_content">
    <%= simple_form_for [:admin, @post], :html => { :class => 'form-horizontal' } do |f| %>
      <fieldset>
        <div class="page-header">
          <h3><%= t('posts.sections.data') %></h3>
        </div>
        <%= f.input :title %>
        <%= f.input :body %>
        <%= f.input :style %>
        <div class="page-header">
          <h3><%= t('posts.sections.meta_data') %></h3>
        </div>
        <%= f.input :meta_description %>
        <%= f.input :meta_keywords %>
        <%= f.association :user, :collection => User.all, :label_method => :full_name, :input_html => { :class => 'input-xlarge chzn-select' } %>
        <div class="form-actions">
          <%= f.submit nil, :class => 'btn btn-primary right' %>
          <%= link_to t('posts.links.back_to_index'), posts_path, :class => 'btn right' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
