%h2 Posts
.well
  = search_form_for @search, url: admin_pages_path, builder: BootstrapForm::FormBuilder, html: { class: 'form-inline', method: :get } do |f|
    = f.text_field :title_cont, placeholder: 'Title', skip_label: true
    = f.text_field :body_or_style_cont, placeholder: 'Body or Style', skip_label: true
    = f.button '<span class="glyphicon glyphicon-search"></span> Search'.html_safe, class: 'btn btn-primary'
    = link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, admin_posts_path, class: 'btn btn-default', rel: 'tooltip', title: 'Clear Search'
- if can? :create, Post
  .clearfix
    = link_to 'New Post', new_admin_post_path, class: 'btn btn-primary pull-right'
- if @posts.present?
  .table-responsive
    %table.table.table-striped.table-hover
      %thead
        %tr.row
          %th.col-xs-6= sort_link @search, :title
          %th.col-xs-2= sort_link @search, :user_last_name_first_name, 'Poster'
          %th.col-xs-2= sort_link @search, :created_at
          %th.col-xs-1
          %th.col-xs-1
      %tbody
        - @posts.each do |post|
          - present post do |post_presenter|
            %tr{ class: "row post#{' inactive' unless post_presenter.published?}" }
              %td.col-xs-6.title
                = link_to post_presenter.title, admin_post_path(post)
                = post_presenter.share_link target: '_blank'
              %td.col-xs-2.user= link_to post_presenter.user_full_name, admin_user_path(post.user)
              %td.col-xs-2.created-at= post_presenter.created_at
              %td.col-xs-1.edit
                - if can? :edit, post
                  = icon_edit_link edit_admin_post_path(post)
              %td.col-xs-1.delete
                - if can? :destroy, post
                  = icon_delete_link admin_post_path(post)
  = paginate @posts
- else
  %p.lead There are no posts yet. Click 'New Post' to get started.
