<div id="posts" class="admin-content">
  <h2><%= t('activerecord.models.post').pluralize %></h2>
  <%= search_form_for @search, :url => admin_posts_path, :html => { :method => :get, :class => 'form-search well' } do |f| %>
    <%= f.text_field :title_cont, :placeholder => t('activerecord.attributes.post.title') %>
    <%= f.button '<i class="icon-search"></i> Search'.html_safe, :type => :submit, :class => 'btn btn-primary' %>
    <%= link_to '<i class="icon-remove"></i>'.html_safe, admin_posts_path, :class => 'btn', :rel => 'tooltip', :title => t('clear_search') %>
  <% end %>
  <% if can? :create, Post, current_user %>
    <div class="clearfix">
      <%= link_to t('posts.new.title'), new_admin_post_path, :class => 'btn btn-primary pull-right' %>
    </div>
  <% end %>
  <% if @posts.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= sort_link @search, :name %></th>
          <th><%= sort_link @search, :slug %></th>
          <% if can? :edit, Post, current_user %><th class="icon">&nbsp;</th><% end %>
          <% if can? :destroy, Post, current_user %><th class="icon">&nbsp;</th><% end %>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= link_to truncate(post.title, :length => 64).html_safe, admin_post_path(post) %></td>
            <td><%= post.slug %> <%= link_to '<i class="icon-share"></i>'.html_safe, post_path(post), :target => '_blank' %></td>
            <% if can? :edit, Post, current_user %><td class="icon"><%= icon_edit_link edit_admin_post_path(post) %></td><% end %>
            <% if can? :destroy, Post, current_user %><td class="icon"><%= icon_delete_link admin_post_path(post) %></td><% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @posts %>
  <% else %>
    <p class="lead"><%= t('messages.posts.none') %></p>
  <% end %>
</div>
