%h2= t('.header.title')
.well
  = search_form_for @search, url: admin_pages_path, builder: BootstrapForm::FormBuilder, html: { class: 'form-inline', method: :get } do |f|
    = f.text_field :title_cont, placeholder: Post.human_attribute_name(:title), skip_label: true
    = f.text_field :body_or_style_cont, placeholder: t('.search.body_or_style'), skip_label: true
    = f.button t('admin.admin.search.search_html'), class: 'btn btn-primary'
    = link_to t('admin.admin.search.clear_search_html'), admin_posts_path, class: 'btn btn-default', rel: 'tooltip', title: t('admin.admin.search.clear_search')
- if can? :create, Post
  .clearfix
    = link_to t('.links.new'), new_admin_post_path, class: 'btn btn-primary pull-right'
- if @posts.present?
  .table-responsive
    %table.table.table-striped.table-hover
      %thead
        %tr.row
          %th.col-xs-6= sort_link @search, :title
          %th.col-xs-2= sort_link @search, :user_last_name_first_name, User.human_attribute_name(:user_id)
          %th.col-xs-2= sort_link @search, :created_at
          %th.col-xs-1
          %th.col-xs-1
      %tbody
        - @posts.each do |post|
          - present post do |post_presenter|
            %tr{ class: "row post#{' inactive' unless post_presenter.published?}" }
              %td.col-xs-6.title
                = link_to post_presenter.title, admin_post_path(post)
                = post_presenter.share_link target: '_blank'
              %td.col-xs-2.user= link_to post_presenter.user_full_name, admin_user_path(post.user)
              %td.col-xs-2.created-at= post_presenter.created_at
              %td.col-xs-1.edit
                - if can? :edit, post
                  = icon_edit_link edit_admin_post_path(post)
              %td.col-xs-1.delete
                - if can? :destroy, post
                  = icon_delete_link admin_post_path(post)
  = paginate @posts
- else
  %p.lead= t('.no_posts_html')
= render 'shared/admin/versions/deleted', object_class: Post, deleted_versions: @deleted_posts
