<div id="posts" class="span10 offset1">
  <h2>
    <%= t("posts.index.title") %>
    <small><%= @posts.total_count %></small>
  </h2>
  <div class="subnav">
    <ul class="nav nav-pills">
      <% if can? :create, Post, current_user %><li><%= link_to t('posts.new.title'), new_admin_post_path %></li><% end %>
    </ul>
    <%= search_form_for @search, :url => admin_posts_path, :html => { :method => :get, :class => 'form-search hidden-phone' } do |f| %>
      <fieldset>
        <%= f.text_field :title_cont, :placeholder => t('activerecord.attributes.post.title') %>
        <%= hidden_field_tag 'page', params[:page] %>
        <%= f.button t('search'), :type => :submit %>
        <%= link_to t('clear_search'), admin_posts_path %>
      </fieldset>
    <% end %>
  </div>
  <table class="table table-striped">
    <thead>
      <th scope="col"><%= sort_link @search, :title %></th>
      <th scope="col"><%= sort_link @search, :user_id %></th>
      <th scope="col"><%= sort_link @search, :created_at %></th>
      <th scope="col"><%= sort_link @search, :updated_at %></th>
      <th class="icon">&nbsp;</th>
      <th class="icon">&nbsp;</th>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to truncate(post.title, :length => 64), admin_post_url(post), :class => 'ajax-link' %></td>
          <td><%= link_to post.user.full_name %></td>
          <td><%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td><%= post.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td class="icon"><%= icon_edit_link(edit_admin_post_path(post)) %></td>
          <td class="icon"><%= icon_delete_link(admin_post_path(post)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
