<div id="post" class="admin-content">
  <h1><%= t('posts.show.title') %></h1>
  <table class="table table-condensed table-striped">
    <tbody>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.post.slug') %></th>
        <td><%= @post.slug %> <%= link_to '<i class="icon-share"></i>'.html_safe, post_path(@post), :target => '_blank' %></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.post.title') %></th>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.post.body') %></th>
        <td><pre><%= @post.body.html_safe %></pre></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.post.style') %></th>
        <td><pre><%= @post.style.html_safe %></pre></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.post.visible') %></th>
        <td><%= @post.visible ? t('yes') : t('no') %></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.post.created_at') %></th>
        <td><%= @post.created_at %></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.post.updated_at') %></th>
        <td><%= @post.updated_at %></td>
      </tr>
    </tbody>
  </table>
  <div class="form-actions">
    <%= link_to t('posts.links.back_to_index'), admin_posts_path, :class => 'btn' %>
    <% if can? :edit, Post, current_user %><%= link_to t('posts.edit.title'), edit_admin_post_path(@post), :class => 'btn' %><% end %>
    <% if can? :destroy, Post, current_user %><%= link_to t('posts.delete.title'), admin_post_path(@post), :method => 'delete', :class => 'btn btn-danger', :data => { :confirm => t('confirm_delete') } %><% end %>
  </div>
</div>
