<div id="login" class="page row">
  <header class="page-header col-xs-12">
    <h1><%= t('navigation.sign_in') %></h1>
  </header>
  <div class="page-body col-xs-12">
    <%= simple_form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.input :email, :required => false, :autofocus => true %>
      <%= f.input :password, :required => false %>
      <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <%= f.button :submit, t('navigation.sign_in'), :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
