<div id="posts" class="span10 offset1">
  <% @posts.each do |post| %>
    <article id="post-<%= post.id %>" class="post">
      <header class="post-header">
        <h1 class="post-title">
          <%= link_to post.title, post, :title => "\"#{post.title}\" posted on #{post.created_at.strftime('%Y-%m-%d %H:%M:%S')}" %>
        </h1>
        <div class="post-author">
          posted by <%= post.user.first_name %>
        </div>
        <div class="post-date">
          <div class="day">
            <%= post.created_at.strftime('%d') %>
          </div>
          <div class="month">
            <%= post.created_at.strftime('%b') %>
          </div>
          <div class="year">
            <%= post.created_at.strftime('%Y') %>
          </div>
        </div>
        <div class="post-social">
          <!-- TODO: Add social media links -->
        </div>
      </header>
      <div class="post-content">
        <% if post.style.present? %>
          <style scoped="scoped">
            <%= post.style.html_safe %>
          </style>
        <% end %>
        <%= post.body.html_safe %>
      </div>
      <footer class="post-footer">
      </footer>
    </article>
  <% end %>
</div>
<%= paginate @posts %>