<article id="post-<%= post.id %>" class="post">
  <header class="post-header row">
    <h1 class="post-title col-xs-12 col-sm-9"><%= link_to post.title, post_path(post), :title => "\"#{post.title}\" posted on #{post.created_at.strftime('%Y-%m-%d %H:%M:%S')}" %></h1>
    <div class="post-author col-sm-2 hidden-xs">by <%= post.user.first_name %></div>
    <div class="post-date col-sm-1 hidden-xs">
      <div class="day">
        <%= post.created_at.strftime('%d') %>
      </div>
      <div class="month">
        <%= post.created_at.strftime('%b') %>
      </div>
      <div class="year">
        <%= post.created_at.strftime('%Y') %>
      </div>
    </div>
    <div class="post-metadata col-xs-12 visible-xs">
      by <%= post.user.first_name %> on <%= post.created_at.strftime("%B #{post.created_at.day.ordinalize}, %Y") %>
    </div>
  </header>
  <div class="post-body row">
    <div class="col-xs-12">
      <% if post.style.present? %>
        <style>
          <%= post.style.html_safe %>
        </style>
      <% end %>
      <% if params[:action] == 'index' %>
        <%= post.more.html_safe %>
        <% if post.truncated? %>
          <div class="read-more">
            <%= link_to t('read_more'), post %>
          </div>
        <% end %>
      <% else %>
        <%= post.body.html_safe %>
      <% end %>
    </div>
  </div>
  <footer class="post-footer row">
  </footer>
</article>
