<article id="post-<%= @post.id %>" class="post">
  <header class="post-header">
    <h1 class="post-title"><%= link_to(@post.title, @post, :title => "\"#{@post.title}\" posted on #{@post.created_at.strftime("%Y-%m-%d %H:%M:%S")}") %></h1>
    <div class="post-author">
      posted by <%= @post.user.first_name %>
    </div>
    <div class="post-date">
      <div class="day">
        <%= @post.created_at.strftime("%d") %>
      </div>
      <div class="month">
        <%= @post.created_at.strftime("%b") %>
      </div>
      <div class="year">
        <%= @post.created_at.strftime("%Y") %>
      </div>
    </div>
    <div class="post-social">
      <div class="fb-like" data-href="<%= post_url(@post) %>" data-send="true" data-layout="button_count" data-width="140" data-show-faces="false"></div>
      <div class="tweet-this"><a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= post_url(@post) %>">Tweet</a></div>
      <div class="google-plus-one"><div class="g-plusone" data-size="medium" data-href="<%= post_url(@post) %>"></div></div>
      <div class="pin-it"><a href="http://pinterest.com/pin/create/button/?url=<%= url_encode(post_url(@post)) %>&media=<%= url_encode(post_url(@post))%>" class="pin-it-button" count-layout="horizontal">Pin It</a></div>
    </div>
  </header>
  <div class="post-content">
    <% if !@post.style.blank? %>
      <style scoped="scoped">
        <%= raw @post.style %>
      </style>
    <% end %>
    <%= raw @post.body %>
  </div>
  <footer class="post-footer">
  </footer>
</article>
