- content_for :page_title do
  Contact - Conney the Corgi!
- content_for :meta_description do
  Tell Conney what's up.
#contact.page
  %header.page-header
    %h1.page-title Contact Conney
  .page-body
    %p Conney loves hearing how cute she is.
  = bootstrap_form_for @contact, url: '/contact', layout: :horizontal, html: { honeypot: true } do |f|
    = f.text_field :name
    = f.email_field :email
    = f.text_field :subject
    = f.text_area :body, roles: '5'
    = f.form_group do
      = f.primary 'Submit'
