= bootstrap_form_for [:admin, @user], layout: :horizontal do |f|
  = f.text_field :first_name
  = f.text_field :last_name
  = f.email_field :email
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.select :role, Ability.valid_roles_for(current_user).map { |_, value| [value.titleize, value] }
  = f.form_group do
    = f.primary
    = link_to t('cancel'), admin_users_path, class: 'btn btn-default'
