<h2><%= t("users.#{@user.persisted? ? 'edit' : 'new'}.title") %></h2>
<%= simple_form_for [:admin, @user], :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= t('users.sections.contact_information') %></legend>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
  </fieldset>
  <fieldset>
    <legend><%= t('users.sections.account_information') %></legend>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :role, :as => :select, :collection => Ability.valid_roles(current_user).map { |key, value| [value.titleize, value] } %>
  </fieldset>
  <div class="form-actions">
    <%= link_to t('users.links.back_to_index'), admin_users_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <% unless @user.persisted? %>
      <label class="checkbox inline">
        <%= check_box_tag 'redirect_to_new', 1, true %> <%= t('helpers.submit.user.redirect_to_new') %>
      </label>
    <% end %>
  </div>
<% end %>
