<div id="users" class="admin-content">
  <h2>
    <%= t('activerecord.models.user').pluralize %>
  </h2>
  <div class="well">
    <%= search_form_for @search, :url => admin_users_path, :html => { :method => :get, :class => 'form-inline' } do |f| %>
      <div class="form-group">
        <%= f.text_field :first_name_or_last_name_cont, :class => 'form-control', :placeholder => t('activerecord.attributes.user.full_name') %>
      </div>
      <div class="form-group">
        <%= f.text_field :email_cont, :class => 'form-control', :placeholder => t('activerecord.attributes.user.email') %>
      </div>
      <div class="form-group">
        <%= f.select :role_eq, Ability::ROLES.map { |key, value| [value.titleize, value] }, { :include_blank => "Select #{t('activerecord.attributes.user.role')}" }, { :class => 'form-control' } %>
      </div>
      <%= f.button '<span class="glyphicon glyphicon-search"></span> Search'.html_safe, :type => :submit, :class => 'btn btn-primary' %>
      <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, admin_users_path, :class => 'btn btn-default', :rel => 'tooltip', :title => t('clear_search') %>
    <% end %>
  </div>
  <% if can? :create, User %>
    <div class="clearfix">
      <%= link_to t('users.new.title'), new_admin_user_path, :class => 'btn btn-primary pull-right' %>
    </div>
  <% end %>
  <% if @users.any? %>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><%= sort_link @search, :last_name, t('activerecord.attributes.user.full_name') %></th>
            <th><%= sort_link @search, :email %></th>
            <th><%= sort_link @search, :role %></th>
            <th><%= sort_link @search, :created_at %></th>
            <% if can? :edit, User %><th class="icon">&nbsp;</th><% end %>
            <% if can? :destroy, User %><th class="icon">&nbsp;</th><% end %>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.full_name, admin_user_path(user) %></td>
              <td><%= user.email %> <%= link_to '<span class="glyphicon glyphicon-envelope">'.html_safe, "mailto:#{user.email}", :rel => 'tooltip', :title => 'Send Email' %></td>
              <td><%= user.role.titleize %></td>
              <td><%= user.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
              <% if can? :edit, user %><td class="icon"><%= icon_edit_link edit_admin_user_path(user) %></td><% elsif can? :update, User %><td>&nbsp;</td><% end %>
              <% if can? :destroy, user %><td class="icon"><%= icon_delete_link admin_user_path(user) %></td><% elsif can? :destroy, User %><td>&nbsp;</td><% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @users %>
  <% else %>
    <p class="lead"><%= t('messages.users.none') %></p>
  <% end %>
</div>
