<div id="page-info" class="in">
  <h2>Users</h2>
  <p>This is a list of all the site's users. From here you can view, modify, or delete any user whose privilege level is below your own.</p>
</div>
<div class="line"></div>
<div id="page-actions" class="in">
  <%= link_to "New User", new_admin_user_path %>
  <%= form_tag admin_users_path, :method => :get, :id => "index-search", :class => "object-search" do %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= hidden_field_tag :order, params[:order]%>
    <div>
      <%= text_field_tag :search, params[:search] %><%= submit_tag "Search", :name => nil %>
    </div>
  <% end %>
</div>
<div id="users" class="in">
  <%= render "users" %>
</div>
