<div id="user" class="admin-content">
  <h2><%= t('users.show.title') %> <small><%= @user.full_name %></small></h2>
  <h3><%= t('users.sections.contact_information') %></h3>
  <table class="table table-condensed table-striped">
    <tbody>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.user.first_name') %></th>
        <td><%= @user.first_name %></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.user.last_name') %></th>
        <td><%= @user.last_name %></td>
      </tr>
    </tbody>
  </table>
  <h3><%= t('users.sections.account_information') %></h3>
  <table class="table table-condensed table-striped">
    <tbody>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.user.email') %></th>
        <td><%= @user.email %> <%= link_to '<i class="icon-envelope">'.html_safe, "mailto:#{@user.email}", :rel => 'tooltip', :title => 'Send Email' %></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.user.created_at') %></th>
        <td><%= @user.created_at.to_s(:normal) %></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.user.updated_at') %></th>
        <td><%= @user.updated_at.to_s(:normal) %></td>
      </tr>
    </tbody>
  </table>
  <h3><%= t('users.sections.login_activity') %></h3>
  <table class="table table-condensed table-striped">
    <tbody>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.user.sign_in_count') %></th>
        <td><%= @user.sign_in_count %></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.user.current_sign_in_at') %></th>
        <td><%= @user.current_sign_in_at.blank? ? t('na') : @user.current_sign_in_at.to_s(:normal) %></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.user.last_sign_in_at') %></th>
        <td><%= @user.last_sign_in_at.blank? ? t('na') : @user.last_sign_in_at.to_s(:normal) %></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.user.current_sign_in_ip') %></th>
        <td><%= @user.current_sign_in_ip.blank? ? t('na') : @user.current_sign_in_ip %></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.user.last_sign_in_ip') %></th>
        <td><%= @user.last_sign_in_ip.blank? ? t('na') : @user.last_sign_in_ip %></td>
      </tr>
    </tbody>
  </table>
  <div class="form-actions">
    <%= link_to t('users.links.back_to_index'), admin_users_path, :class => 'btn' %>
    <% if can? :edit, User, current_user %><%= link_to t('users.edit.title'), edit_admin_user_path(@user), :class => 'btn' %><% end %>
    <% if can? :destroy, User, current_user %><%= link_to t('users.delete.title'), admin_user_path(@user), :method => 'delete', :class => 'btn btn-danger', :data => { :confirm => t('confirm_delete') } %><% end %>
  </div>
</div>
