<div id="user-<%= @user.id %>" class="admin-content">
  <h2><%= t('users.show.title') %> <small><%= @user.full_name %></small></h2>
  <div class="clearfix">
    <%= link_to t('users.links.back_to_index'), admin_users_path, :class => 'btn btn-default' %>
    <% if can? :edit, User %><%= link_to t('users.edit.title'), edit_admin_user_path(@user), :class => 'btn btn-primary' %><% end %>
    <% if can? :destroy, User %><%= link_to t('users.delete.title'), admin_user_path(@user), :method => 'delete', :class => 'btn btn-danger', :data => { :confirm => t('confirm_delete') } %><% end %>
  </div>
  <h3><%= t('users.sections.contact_information') %></h3>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <tbody>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.first_name') %></th>
          <td class="col-xs-8 col-sm-10"><%= @user.first_name %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.last_name') %></th>
          <td class="col-xs-8 col-sm-10"><%= @user.last_name %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h3><%= t('users.sections.account_information') %></h3>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <tbody>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.email') %></th>
          <td class="col-xs-8 col-sm-10"><%= @user.email %> <%= link_to '<span class="glyphicon glyphicon-envelope">'.html_safe, "mailto:#{@user.email}", :rel => 'tooltip', :title => 'Send Email' %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.role') %></th>
          <td class="col-xs-8 col-sm-10"><%= @user.role.titleize %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.created_at') %></th>
          <td class="col-xs-8 col-sm-10"><%= @user.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.updated_at') %></th>
          <td class="col-xs-8 col-sm-10"><%= @user.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h3><%= t('users.sections.login_activity') %></h3>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <tbody>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.sign_in_count') %></th>
          <td class="col-xs-8 col-sm-10"><%= @user.sign_in_count %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.current_sign_in_at') %></th>
          <td class="col-xs-8 col-sm-10"><%= @user.current_sign_in_at.blank? ? t('na') : @user.current_sign_in_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.last_sign_in_at') %></th>
          <td class="col-xs-8 col-sm-10"><%= @user.last_sign_in_at.blank? ? t('na') : @user.last_sign_in_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.current_sign_in_ip') %></th>
          <td class="col-xs-8 col-sm-10"><%= @user.current_sign_in_ip.blank? ? t('na') : @user.current_sign_in_ip %></td>
        </tr>
        <tr>
          <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.user.last_sign_in_ip') %></th>
          <td class="col-xs-8 col-sm-10"><%= @user.last_sign_in_ip.blank? ? t('na') : @user.last_sign_in_ip %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix">
    <%= link_to t('users.links.back_to_index'), admin_users_path, :class => 'btn btn-default' %>
    <% if can? :edit, User %><%= link_to t('users.edit.title'), edit_admin_user_path(@user), :class => 'btn btn-primary' %><% end %>
    <% if can? :destroy, User %><%= link_to t('users.delete.title'), admin_user_path(@user), :method => 'delete', :class => 'btn btn-danger', :data => { :confirm => t('confirm_delete') } %><% end %>
  </div>
</div>
