<div id="admin-index" class="span10 offset1">
  <h2><%= t('navigation.admin_home') %></h2>
  <div class="page-header">
    <h3><%= t("admin.sections.rails_info") %></h3>
  </div>
  <div id="rails-info">
    <%= Rails::Info.to_html.html_safe %>
  </div>
  <div class="page-header">
    <h3><%= t("admin.sections.routes") %></h3>
  </div>
  <div id="routes">
    <pre>
        <ul class="unstyled">
        <%
           routes = Rails.application.routes.routes
           inspector = Rails::Application::RouteInspector.new
        %>
        <% inspector.format(routes, ENV['CONTROLLER']).each do |route| %>
          <li><%= route %></li>
        <% end %>
      </ul>
    </pre>
  </div>
</div>
