<section id="quick-links" class="row">
  <h2 class="col-xs-12"><%= t('admin.sections.quick_links') %></h2>
  <% %w(post page picture user).each do |model| %>
    <% if can? :create, "#{model.camelcase}".constantize %>
      <div class="col-xs-6 col-md-3">
        <%= link_to self.send("new_admin_#{model}_path".to_sym), :class => 'thumbnail' do %>
          <%= image_tag image_path("icons/32x32/#{model}-add.png"), :alt => t("#{model.pluralize}.new.title") %>
          <div class="caption">
            <p><%= t("#{model.pluralize}.new.title") %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</section>
<% if can? :create, Post %>
  <section id="quick-post" class="row">
    <h2 class="col-xs-12"><%= t('admin.sections.quick_post') %></h2>
    <%= simple_form_for [:admin, Post.new], :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.input :title %>
      <%= picture_inserter '#post_body-editor' %>
      <%= f.input :body do %>
        <%= f.text_area :body, :style => 'display: none;' %>
        <div id="post_body-editor" class="ace-editor" data-mode="html"></div>
      <% end %>
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <%= f.button :submit, 'Submit', :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </section>
<% end %>
<section id="rails-info" class="row hidden-xs hidden-sm">
  <h2 class="col-xs-12"><%= t('admin.sections.rails_info') %><% if Rails.env.production? %> <small>Deployed On: <%= Time.parse(Rails.root.to_s.split('/').last).strftime('%m-%d-%Y %H:%M:%S') %></small><% end %></h2>
  <div class="col-xs-12">
    <%= Rails::Info.to_html.html_safe %>
  </div>
</section>
<section id="routes" class="row hidden-xs hidden-sm">
  <h2 class="col-xs-12"><%= t('admin.sections.routes') %></h2>
  <%
     routes = Rails.application.routes.routes
     inspector = Rails::Application::RouteInspector.new
  %>
  <div class="col-xs-12">
    <pre class="col-xs-12"><%= inspector.format(routes, ENV['CONTROLLER']).join("\n") %></pre>
  </div>
</section>
<section id="gems" class="row hidden-xs hidden-sm">
  <h2 class="col-xs-12"><%= t('admin.sections.gems') %></h2>
  <ul>
    <% get_gem_dependencies.each do |gem| %>
      <li>
        <%= gem[:name] %> (<%= gem[:version] %>)
        <% if gem[:dependencies].present? %>
          <ul>
            <% gem[:dependencies].each do |dependency| %>
              <li><%= dependency[:name] %> (<%= dependency[:requirement] %>)</li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
