<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= t('application.title') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="<%= t('application.description') %>">
  <meta name="author" content="<%= t('application.author') %>">
  <%= stylesheet_link_tag 'admin', :media => 'all' %>
  <%= javascript_include_tag 'admin' %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="/favicon.ico" rel="shortcut icon">
  <link href="<%= image_path('apple-touch-icon-iphone.png') %>" rel="apple-touch-icon" sizes="57x57">
  <link href="<%= image_path('apple-touch-icon-ipad.png') %>" rel="apple-touch-icon" sizes="72x72">
  <link href="<%= image_path('apple-touch-icon-iphone-retina.png') %>" rel="apple-touch-icon" sizes="114x114">
  <link href="<%= image_path('apple-touch-icon-ipad-retina.png') %>" rel="apple-touch-icon" sizes="144x144">
  <link href="/humans.txt" rel="author">
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main-header" class="container">
    <div class="row">
      <h1 id="title" class="col-xs-12">conneythecorgi.com Admin Panel</h1>
    </div>
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to t('navigation.admin_home'), admin_root_path, :class => 'navbar-brand' %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% if can? :read, Post %><li<% if is_active_controller?('admin/posts') %> class="active"<% end %>><%= link_to t('navigation.posts'), admin_posts_path %></li><% end %>
          <% if can? :read, Page %><li<% if is_active_controller?('admin/pages') %> class="active"<% end %>><%= link_to t('navigation.pages'), admin_pages_path %></li><% end %>
          <% if can? :read, Picture %><li<% if is_active_controller?('admin/pictures') %> class="active"<% end %>><%= link_to t('navigation.pictures'), admin_pictures_path %></li><% end %>
          <% if can? :read, User %><li<% if is_active_controller?('admin/users') %> class="active"<% end %>><%= link_to t('navigation.users'), admin_users_path %></li><% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t('navigation.site_home'), root_path %></li>
          <li<% if is_active_controller?('admin/accounts') %> class="active"<% end %>><%= link_to t('accounts.edit.title'), edit_admin_account_path %></li>
          <li><%= link_to t('navigation.sign_out'), destroy_user_session_path, :method => :delete %></li>
        </ul>
      </div>
    </div>
  </header>
  <main id="content" class="container">
     <%= flash_messages %>
     <%= yield %>
  </main>
</body>
</html>
