!!!
%html{ dir: 'ltr', lang: 'en-US' }
  %head
    %meta{ charset: 'utf-8' }
    %title= page_title(yield(:page_title))
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport' }
    %meta{ content: page_meta_description(yield(:meta_description)), name: 'description' }
    %meta{ content: t('.author'), name: 'author' }
    %meta{ content: 'telephone=no', name: 'format-detection' }
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    %link{ href: '/favicon.ico', rel: 'shortcut icon' }
    %link{ href: asset_pack_path('shared/images/apple-touch-icon-iphone.png'), rel: 'apple-touch-icon', sizes: '57x57' }
    %link{ href: asset_pack_path('shared/images/apple-touch-icon-ipad.png'), rel: 'apple-touch-icon', sizes: '72x72' }
    %link{ href: asset_pack_path('shared/images/apple-touch-icon-iphone-retina.png'), rel: 'apple-touch-icon', sizes: '114x114' }
    %link{ href: asset_pack_path('shared/images/apple-touch-icon-ipad-retina.png'), rel: 'apple-touch-icon', sizes: '144x144' }
    %link{ href: '/humans.txt', rel: 'author' }
    = csrf_meta_tags
  %body
    .content-wrap
      %header.main-header{ role: 'banner' }
        %h1.main-header-title= t('.title')
        %h2.main-header-subtitle= t('.subtitle')
        %nav.main-header-nav
          %ul.main-header-nav-list
            %li.main-header-nav-list-item= link_to(t('.header_nav.home'), root_path, rel: 'home', class: 'main-header-nav-list-item-link')n
            %li.main-header-nav-list-item= link_to(t('.header_nav.pictures'), pictures_path, class: 'main-header-nav-list-item-link')
            - @pages.each do |page|
              %li.main-header-nav-list-item= link_to(page.title, "/#{page.slug}", class: 'main-header-nav-list-item-link')
            %li.main-header-nav-list-item= link_to(t('.header_nav.contact'), contact_path, class: 'main-header-nav-list-item-link')
            - if current_user
              %li.main-header-nav-list-item= link_to(t('.header_nav.admin'), admin_root_path, class: 'main-header-nav-list-item-link')
              %li.main-header-nav-list-item= link_to(t('.header_nav.logout'), destroy_user_session_path, method: :delete, class: 'main-header-nav-list-item-link')
      %main.main-content{ role: 'main' }
        = yield
    %footer.main-footer{ role: 'contentinfo' }
      %div.main-footer-credit= t('.credit_html')
