<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><% if content_for?(:page_title) %><%= yield(:page_title).strip %><% else %><%= t('application.title') %><% end %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="<% if content_for?(:meta_description) %><%= yield(:meta_description).strip %><% else %><%= t('application.description') %><% end %>">
  <meta name="author" content="<%= t('application.author') %>">
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <% if Rails.env.production? && current_user.nil? %>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-28027997-1"]);
      _gaq.push(["_trackPageview"]);
      _gaq.push(["_setDomainName", window.location.hostname]);
      (function() {
        var ga = document.createElement("script");
        ga.type = "text/javascript";
        ga.async = true;
        ga.src = ("https:" === document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
  <link href="/favicon.ico" rel="shortcut icon">
  <link href="<%= image_path('apple-touch-icon-iphone.png') %>" rel="apple-touch-icon" sizes="57x57">
  <link href="<%= image_path('apple-touch-icon-ipad.png') %>" rel="apple-touch-icon" sizes="72x72">
  <link href="<%= image_path('apple-touch-icon-iphone-retina.png') %>" rel="apple-touch-icon" sizes="114x114">
  <link href="<%= image_path('apple-touch-icon-ipad-retina.png') %>" rel="apple-touch-icon" sizes="144x144">
  <link href="/humans.txt" rel="author">
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content-wrap">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to t('application.title'), root_path, :class => 'navbar-brand' %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li <% if is_active_controller?('pictures') %> class="active"<% end %>><%= link_to t('activerecord.models.picture').pluralize, pictures_path %></li>
            <% @pages.each do |page| %>
              <li <% if is_active_page?(page.slug) %> class="active"<% end %>><%= link_to page.title, "/#{page.slug}" %></li>
            <% end %>
            <li <% if is_active_controller?('contact') %> class="active"<% end %>><%= link_to 'Contact', contact_path %></li>
          </ul>
          <% if current_user.present? %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Admin Panel', admin_root_path %></li>
              <li><%= link_to t('navigation.sign_out'), destroy_user_session_path, :method => :delete %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <main id="content" class="container">
      <%= yield %>
    </main>
  </div>
  <footer id="main-footer">
    <div class="container">
      <p><%= t('application.footer').html_safe %></p>
    </div>
  </footer>
</body>
</html>
