<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>Conney the Corgi!</title>
  <meta name="description" content="A blog about an ornery corgi named Conney and her adorable adventures." />
  <meta name="author" content="Sean Eshbaugh" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="favicon.ico" rel="shortcut icon" />
  <link href="images/apple-touch-icon-iphone.png" rel="apple-touch-icon" />
  <link href="images/apple-touch-icon-ipad.png" rel="apple-touch-icon" sizes="72x72" />
  <link href="images/apple-touch-icon-iphone4.png" rel="apple-touch-icon" sizes="114x114" />
  <link href="humans.txt" rel="author" />
  <%= auto_discovery_link_tag :rss, posts_url, :title => "Conney the Corgi RSS Feed" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="fb-root"></div>
  <div id="container">
    <header id="main-header">
      <h1><%= link_to "Conney <span style='font-family: TeXGyrePagella; font-style: italic;'>the</span> Corgi!".html_safe, root_path %></h1>
      <nav id="main-nav">
        <ul>
          <% if @current_user %>
            <li><%= link_to "Logout", logout_path %></li>
            <% if @current_user.privilege_level >= User::PrivilegeLevelAdmin %>
              <li><%= link_to "Admin Panel", admin_root_path %></li>
            <% end %>
          <% end %>
          <% Page.top_level.order("display_order").each do |page| %>
            <li><%= link_to page.title, page %></li>
          <% end %>
        </ul>
      </nav>
      <div id="main-social">
        <!-- data-width="140" -->
        <div class="fb-like" data-href="<%= root_url %>" data-send="true" data-layout="button_count" data-show-faces="false"></div>
        <div class="tweet-this"><a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= root_url %>">Tweet</a></div>
        <div class="google-plus-one"><div class="g-plusone" data-size="medium" data-href="<%= root_url %>"></div></div>
        <div class="pin-it"><a href="http://pinterest.com/pin/create/button/?url=<%= url_encode(root_url) %>&amp;media=<%= url_encode(image_url("conney-the-corgi.jpg")) %>" class="pin-it-button" count-layout="horizontal">Pin It</a></div>
        <div id="rss">
          <%= link_to image_tag(image_path("rss.png")), posts_url(:format => "rss") %>
        </div>
      </div>
    </header>
    <% if flash[:notice] %>
      <div id="flash-notice" class="notification <%= flash[:type] %> click-to-close">
        <div><%= raw flash[:notice] %></div>
      </div>
    <% end %>
    <% if flash[:debug] %>
      <div id="flash-debug" class="notification information click-to-close">
        <div><%= raw debug flash[:debug] %></div>
      </div>
    <% end %>
    <div id="content">
      <%= yield %>
    </div>
    <footer id="main-footer">
      <span id="credits">Created with <a href="http://rubyonrails.org/">Ruby on Rails</a> by <a href="http://seaneshbaugh.com/">Sean Eshbaugh</a>.</span>
    </footer>
  </div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    !function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = "//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      }
    }(document, "script", "twitter-wjs");

    (function() {
      var po = document.createElement('script');
      po.type = 'text/javascript';
      po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(po, s);
    })();

    (function() {
      window.PinIt = window.PinIt || { loaded:false };
      if (window.PinIt.loaded) return;
      window.PinIt.loaded = true;
      function async_load() {
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.async = true;
        s.src = "http://assets.pinterest.com/js/pinit.js";
        var x = document.getElementsByTagName("script")[0];
        x.parentNode.insertBefore(s, x);
      }
      if (window.attachEvent) {
        window.attachEvent("onload", async_load);
      } else {
        window.addEventListener("load", async_load, false);
      }
    })();

    <% if !@current_user and request.host != "127.0.0.1" %>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28027997-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    <% end %>
  </script>
</body>
</html>
